.cards
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1rem;

.form
  display grid
  grid-column-gap 20px
  grid-template-columns 1fr auto auto
  align-items center

.img
  object-fit cover
  height 196px
