<mat-toolbar color="primary" class="toolbar mat-elevation-z6">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="app-title" routerLink="/">Painting Tour</a>
  <button mat-icon-button (click)="openSnackBar()">
    <img src="https://sun9-29.userapi.com/c850324/v850324834/b20b2/Tn2_7HOufIA.jpg" alt="" class="avatar mat-elevation-z0">
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <div class="cdk-visually-hidden cdk-focus-trap-anchor" aria-hidden="true" tabindex="0"></div>
  <mat-sidenav #drawer [mode]="'over'" class="sidenav">
    <div class="sidenav-menu mat-elevation-z0">
      <img src="https://sun9-29.userapi.com/c850324/v850324834/b20b2/Tn2_7HOufIA.jpg" alt="" class="avatar menu-avatar mat-elevation-z0">
      <p class="menu-name">
        Denis Aleksandrov
      </p>
    </div>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon mat-list-icon>face</mat-icon>
        <a mat-line routerLink="/painters">Painters</a>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <mat-icon mat-list-icon>image</mat-icon>
        <a mat-line routerLink="/paintings">Paintings</a>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <mat-icon mat-list-icon>assistant_photo</mat-icon>
        <a mat-line routerLink="/countries">Countries</a>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <mat-icon mat-list-icon>museum</mat-icon>
        <a mat-line routerLink="/museums">Museums</a>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <mat-icon mat-list-icon>color_lens</mat-icon>
        <a mat-line routerLink="/artMovements">Art Movements</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
