.container
  height 100%

.sidenav
  padding 20px

.sidenav-content
  padding 20px

.full-width
  width 100%

.cards
  display grid
  grid-template-columns repeat(6, 1fr)
  grid-column-gap 20px

.img
  width 100%
