<mat-toolbar color="primary" class="toolbar mat-elevation-z6">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span>Painting Tour</span>

  <span class="spacer"></span>
  <button mat-icon-button (click)="openSnackBar()">
    <img src="https://sun9-29.userapi.com/c850324/v850324834/b20b2/Tn2_7HOufIA.jpg" alt="" class="avatar mat-elevation-z0">
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [mode]="'over'" class="sidenav">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/form">Form</a>
      <a mat-list-item routerLink="/posts">Posts</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
