.sidenav-container
  height 100%

.sidenav
  width 235px
  background #923d57 url(http://www.gstatic.com/mobilesdk/190424_mobilesdk/nav_nachos@2x.png)

.mat-drawer-container-has-open
  overflow hidden

.toolbar
  top 0
  z-index 2
  display grid
  position fixed
  grid-template-columns auto auto 1fr auto

.app-title
  text-decoration none
  color white

.spacer
  flex 1 1 auto

.avatar
  height 40px
  width 40px
  border-radius 50%
  flex-shrink 0
  object-fit cover

.sidenav-menu
  height 140px
  background #d6115dd4
  padding 20px 10px 10px
  width 100%
  position relative
  box-sizing border-box
  display grid
  grid-auto-rows 60px 1fr
  align-items end

.menu-avatar
  height 60px
  width 60px

.menu-name
  margin 0
