<app-create-art-movement-form></app-create-art-movement-form>

<div class="cards">
  <mat-card class="card"
    *ngFor="let item of items$ | async; trackBy: trackBy"
  >
    <mat-card-content class="card-content" [ngStyle]="{ backgroundColor: '#' + item.color }">
      <p class="card-title">{{ item.name | summary:20 }}</p>
      <img class="img" [src]="item.img" alt="">
    </mat-card-content>
    <mat-divider></mat-divider>
    <button mat-button color="primary">Delete</button>
    <button mat-button color="accent">Edit</button>
  </mat-card>
</div>
