<mat-form-field class="example-full-width">
  <mat-label>Favorite food</mat-label>
  <input matInput placeholder="Ex. Pizza" #title (keyup.enter)="addPost(title)">
</mat-form-field>

<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let post of posts">
    {{ post.title }}
    <button mat-icon-button (click)="updatePost(post)">
      <mat-icon mat-list-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="deletePost(post)">
      <mat-icon mat-list-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
