<app-create-museum-form></app-create-museum-form>

<div class="cards">
  <mat-card
    class="card"
    @fade
    *ngFor="let item of items$ | async; trackBy: trackBy"
  >
    <mat-card-content class="card-content">
      <img class="img" [src]="item.img" alt="">
      <div class="card-header">
        <mat-card-subtitle class="card-title">
          {{ item.name | summary:20 }}
        </mat-card-subtitle>
        <button mat-icon-button color="accent">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="delete(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
