@import "../../../../assets/styles/responsive.mixin.styl"

.create-card
  min-width 120px
  margin 20px auto

.form-content
  display grid
  grid-column-gap 20px
  align-items center
  grid-template-columns 1fr auto auto
  grid-template-areas: "name color file"\
                       "info info info"\
                       "submit submit submit"

  @media $mobile
    grid-template-columns 1fr auto auto
    grid-template-areas: "name name name"\
                         "color color file"\
                         "info info info"\
                         "submit submit submit"

.input-name
  grid-area name

.input-color
  grid-area color

.input-file
  grid-area file

.input-info
  grid-area info

.submit-btn
    grid-area submit
