.create-card
  min-width 120px
  margin 20px auto

.form-content
  display grid
  grid-column-gap 20px
  align-items center
  grid-template-columns 1fr

.form-row
  display grid
  grid-template-columns 1fr auto auto
  align-items center
  grid-column-gap 20px
