.create-card
  min-width 120px
  margin 20px auto

.form-content
  display grid
  grid-column-gap 20px
  align-items center
  grid-template-columns 1fr auto

.form-input
  min-width 100px

.submit-btn
  grid-column 1 / span 2
