.app
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;

.sidenav-content
  padding 20px

.full-width
  width 100%

.cards
  display grid
  grid-template-columns repeat(5, 1fr)
  grid-column-gap 20px
