<form [formGroup]="createForm" novalidate (ngSubmit)="onAdd()">
  <mat-card class="create-card">
    <mat-card-content class="form-content">
      <mat-form-field class="form-input">
        <mat-label>Enter name</mat-label>
        <input matInput placeholder="Name... " formControlName="name" required>
      </mat-form-field>

      <app-upload-task
        (getUrl)="onGetUrl($event)"
        [folder]="path"
      ></app-upload-task>

      <button class="submit-btn" mat-raised-button color="primary" type="submit" [disabled]="!createForm.valid">Add</button>
    </mat-card-content>
  </mat-card>
</form>
