<form [formGroup]="createForm" novalidate (ngSubmit)="onAdd()">
  <mat-card class="create-card">
    <mat-card-content class="form-content">
        <mat-form-field class="input-name">
          <mat-label>Enter name</mat-label>
          <input matInput placeholder="Name... " formControlName="name" required>
        </mat-form-field>

        <app-upload-task class="input-file"
          (getUrl)="onGetUrl($event)"
          [folder]="path"
        ></app-upload-task>

      <mat-form-field class="input-info">
        <mat-label>Description</mat-label>
        <textarea matInput matTextareaAutosize placeholder="Some extra information..." formControlName="info"></textarea>
      </mat-form-field>

      <button class="submit-btn" mat-raised-button color="primary" type="submit" [disabled]="!createForm.valid">Add</button>
    </mat-card-content>
  </mat-card>
</form>
