.create-card
  min-width 120px
  margin 20px auto

.form-content
  display grid
  grid-column-gap 20px
  align-items center
  grid-template-columns 1fr 1fr auto
  grid-template-areas "name name file"\
                      "info info info"\
                      "submit submit submit"

.input-name
  grid-area name

.input-file
  grid-area file

.input-info
  grid-area info

.submit-btn
    grid-area submit
