$mobile-width=599px
$Tablet-width=599px
$Web-width=599px
$HandsetPortrait-width=599px
$TabletPortrait-width=599px
$WebPortrait-width=599px
$HandsetLandscape-width=599px
$TabletLandscape-width=599px
$WebLandscape-width=599px

$mobile = 'only screen and (max-width $mobile-width)'
